{{define "subject"}}Reset your Greenlight password{{end}}

{{define "plainBody"}}
Hi,

To reset your password please visit h͟t͟t͟p͟s͟:͟/͟/͟e͟x͟a͟m͟p͟l͟e͟.͟c͟o͟m͟/͟u͟s͟e͟r͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟ and enter the 
following secret code along with your new password:

--------------------------
{{.passwordResetToken}}
--------------------------

Please note that this code will expire in 45 minutes. If you need another code please 
visit h͟t͟t͟p͟s͟:͟/͟/͟e͟x͟a͟m͟p͟l͟e͟.͟c͟o͟m͟/͟t͟o͟k͟e͟n͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟-͟r͟e͟s͟e͟t͟.

Thanks,

The Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>


  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>To reset your password please visit <a href="h͟t͟t͟p͟s͟:͟/͟/͟e͟x͟a͟m͟p͟l͟e͟.͟c͟o͟m͟/͟u͟s͟e͟r͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟">h͟t͟t͟p͟s͟:͟/͟/͟e͟x͟a͟m͟p͟l͟e͟.͟c͟o͟m͟/͟u͟s͟e͟r͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟</a> and enter the following secret code along with your new password:</p>
    <pre><code>{{.passwordResetToken}}"}</code></pre>
    <p>Please note that this link will expire in 45 minutes. If you need another password reset link please visit <a href="h͟t͟t͟p͟s͟:͟/͟/͟e͟x͟a͟m͟p͟l͟e͟.͟c͟o͟m͟/͟t͟o͟k͟e͟n͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟-͟r͟e͟s͟e͟t͟">h͟t͟t͟p͟s͟:͟/͟/͟e͟x͟a͟m͟p͟l͟e͟.͟c͟o͟m͟/͟t͟o͟k͟e͟n͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟-͟r͟e͟s͟e͟t͟</a>.</p>
    <p>Thanks,</p>
    <p>The Greenlight Team</p>
  </body>
</html>
{{end}}